li
{
    margin-bottom: 10px;
}

th
{
    padding-right: 8px;
}

body
{
    font-size: 20px;
}

.bg-burnt-orange
{
    background-color: rgb(255, 60, 0);
}

.color-burnt-orange
{
    color: rgb(255, 60, 0);
}

.color-white
{
    color: white;
}

.font-garamond
{
    font-family: Garamond;
}

.font-italic
{
    font-style: italic;
}

.font-18
{
    font-size: 18px;
}

.font-normal
{
    font-weight: normal;
}

.bg-light-gray
{
    background-color: rgb(248, 241, 241);
}

.font-montserrat
{
    font-family: Montserrat, sans-serif;
}

.margin-bottom-small
{
    margin-bottom: .2rem;
}

.margin-bottom-large
{
    margin-bottom: 9%;
}

.margin-left-large
{
    margin-left: 9%;
}

.opacity-30
{
    opacity: 0.3
}

.opacity-40
{
    opacity: 0.4
}